<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles - Maccabi Rehovot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Vehicles</h1>
    <a href="/vehicle/new">Add Vehicle</a>
    <table>
        <thead>
            <tr>
                <th>License Plate</th>
                <th>Employee Name</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.license_plate }}</td>
                <td>{{ vehicle.employee_name }}</td>
                <td>{{ vehicle.manufacturer }}</td>
                <td>{{ vehicle.model }}</td>
                <td>
                    <a href="/vehicle/edit/{{ vehicle.license_plate }}">Edit</a>
                    <a href="/vehicle/delete/{{ vehicle.license_plate }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
